@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1366px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.headerIndex {
  width: 100%;
  height: 60px;
  background-color: #AD2621;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr 30px;
      grid-template-columns: 30px 1fr 30px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 10px 10px 10px 10px;
  grid-gap: 10px;
}

.headerIndex h1 {
  font-size: 0;
  width: 90px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background-image: url("../img/ACTC_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.headerIndex h1 > a {
  display: block;
  width: 80px;
  height: 40px;
}

.headerIndex > div {
  background-color: white;
  width: 100%;
}

.headerIndex > label {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.headerIndex > label:first-of-type span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin-top: 6px;
}

.headerIndex nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 900;
}

.headerIndex nav ul {
  width: 80%;
  height: 100%;
  background-color: #AD2621;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 50px 50px 50px 50px 50px;
      grid-template-rows: 100px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
}

.headerIndex nav ul li:first-of-type .navNoLog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
}

.headerIndex nav ul li:first-of-type .navNoLog > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0 0 10px;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.headerIndex nav ul li:first-of-type .navLog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px;
      grid-template-columns: 1fr 80px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.headerIndex nav ul li:first-of-type .navLog > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.headerIndex nav ul li:first-of-type .navLog > div:first-of-type > div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.headerIndex nav ul li:first-of-type .navLog > div:first-of-type > div p:first-of-type {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.headerIndex nav ul li:first-of-type .navLog > div:first-of-type > div p:last-of-type a {
  text-decoration: none;
  outline: none;
  color: white;
}

.headerIndex nav ul li:first-of-type .navLog > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.headerIndex nav ul li:first-of-type .navLog > div:last-of-type > img {
  display: block;
  height: 50px;
  width: 80px;
}

.headerIndex nav ul > li {
  width: 100%;
}

.headerIndex nav ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0 0 10px;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.msjEstado {
  width: 100%;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px;
      grid-template-columns: 1fr 40px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 15px 15px 15px 15px;
}

.msjEstado > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: left;
  color: white;
  font-size: 17px;
}

.msjEstado > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 30px;
  height: 30px;
  font-size: 0;
}

.msjEstado > label > span {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.mensajeOk {
  background-color: green;
}

.mensajeErr {
  background-color: red;
}

.headerPanel {
  width: 100%;
  background-color: #AD2621;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
  padding: 15px 15px 15px 15px;
}

.headerPanel > a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
}

.headerPanel > h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.headerPanel #Volver {
  display: block;
  background-color: white;
  width: 40px;
  height: 40px;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.headerPanel #crearNuevo {
  display: block;
  background-color: white;
  width: 40px;
  height: 40px;
  -webkit-clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 78%, 35% 77%, 35% 50%, 10% 50%);
          clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 78%, 35% 77%, 35% 50%, 10% 50%);
}
/*# sourceMappingURL=header.css.map */