@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

$color1:#AD2621;
$color2: #F94E48;
$color3:#2A73AD;
$color4:#2FA0FA;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 1366px;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 60px;
    background-color: $color1;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 1fr;
    padding: 10px 10px 10px 10px;
    grid-gap: 10px;

    h1{
        font-size: 0;
        width: 80px;
        height: 40px;
        background-color: yellow;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    >div{
        background-color: white;
        width: 100%;
    }

    >label{
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }

    >label:first-of-type{
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
            border: 1px solid white;
            border-radius: 50px;
            margin-top: 6px;
        }
    }

    >label:last-of-type{
        
    }

    nav{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background-color: rgba($color: #000000, $alpha: 0.3);
        transform: translateX(-100%);
        ul{
            width: 80%;
            height: 100%;
            background-color: $color1;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 50px 50px 50px 50px 50px;
            grid-gap: 10px;

            li:first-of-type{

                .navNoLog{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr;
                        width: 100%;
                        height: 100%;
                        grid-gap: 10px;
                        
                        >a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 15px 0 0 10px;
                            text-decoration: none;
                            font-weight: 500;
                            color: white;
    
                        }
                    

                }

                .navLog{
                    display: grid;
                    grid-template-columns: 1fr 80px;
                    grid-template-rows: 1fr;
                    margin-top: 30px;
                    padding-left: 10px;
                    padding-right:10px ;

                    >div:first-of-type{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                

                        >div{
                            height: fit-content;
                            width: fit-content;


                            p:first-of-type{
                                color: white;
                                font-weight: 500;
                                font-size: 18px;
                            }

                            p:last-of-type{

                                a{
                                    text-decoration: none;
                                    outline: none;
                                    color: white;
                                }
        
                            }
                        }
                    }

                    >div:last-of-type{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        >img{
                            display: block;
                            height: 50px;
                            width: 80px;

                        }
                    }
                }

                

            }

            >li{
                width: 100%;

                >a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 15px 0 0 10px;
                    text-decoration: none;
                    font-weight: 500;
                    color: white;
                }
            }
        }

    }
    
    .navNoLog{

    }
}