@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

$color1:#AD2621;
$color2: #F94E48;
$color3:#2A73AD;
$color4:#2FA0FA;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 1366px;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.loginPanel{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    >form{
        width: 90%;
        height: fit-content;
        padding: 20px 10px 20px 10px;
        border: 1px solid #333;
        border-radius: 10px;
        margin-top: 30vh;

        >p{
            font-size: 15px;
        }

        >input[type=password]{
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            margin-top: 10px;
        }

        >input[type=submit]{
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            background-color: $color1;
            margin-top: 20px;
            border-radius: 10px;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.panelMenu{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 20px;
    max-width: 500px;


    >a{
        display: block;
        width: 100%;
        background-color: #2A73AD;
        height: 200px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding-top: 90px;
        color: white;
        font-weight: 600;
    }
}



.cardEdit{
    max-width: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2A73AD;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;

    p{
        margin-top: 10px;
    }

    input{
        width: 100%;
       
    }

    select{
        width: 100%;
    }

    input[type=submit]{
        margin-top: 20px;
    }

    textarea{
        width: 100%;
        resize: none;
        height: 200px;
    }
}

.gridNN{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

}

#selectNN{
    width: 100%;
    height: 200px;
    background-color: $color4;
    overflow-y: scroll;

    >div{
        display: grid;
        grid-template-columns: 20px 1fr;
        margin-top: 10px;

        >input[type=checkbox]{
            display: inline-block;
        }
        >label{
            display: inline-block;
        }
    }

}

#Volver{

    display: block;
    background-color: white;
    width: 40px;
    height: 40px;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

#crearNuevo{

}


@media(min-width:600px){
    .panelCrud{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

    }
}